<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8" />
    <link rel="stylesheet" type="text/css" href="style.css">
    <title>ねこったー</title>
  </head>
  <body>
    <header>
      <h1>ねこったー</h1>
    </header>
    <div class="contents">
      <h2>投稿する</h2>
      <form class="clearfix">
        <img src="images/cat1.png">
        <div class="input-box">
          <textarea rows="4" cols="40">今日も疲れたにゃー</textarea>
        </div>
        <div class="button-box">
          <input type="submit" class="submit-button">
        </div>
      </form>
    </div>
  </body>
</html>
